.parentContainer {
  display: flex;
  flex-direction: row;
  align-items: left;
  height: 80vh;
  width: 100vh;
}

.searchPanel {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  height: 100%;
  width: 30%;
  margin-right: 1%;
  gap: 3%;
}

.resultsPanel {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 100%;
}

.userHeaders {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border-bottom: 2px solid black;
  gap: 3%;
  font-size: large;
}
